$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.square{
  background-color:red;
  height: 20px;
  margin-right: 15px;
}
